/* reset des paramètres d'affichage de l'explorateur : */
* {
    margin: 0;
    padding: 0;
}

h1 {
    color:#000;
    font-size: 50px;
    font-family: 'Abril Fatface', cursive;
    position: absolute;

}

a {
    text-decoration: none;
    font-family: 'Abril Fatface', cursive;
    color: black;
    font-size: 30px;
}

#titre {
    background-image: url('../img/fond_accueil.jpg');
    display: flex;
    opacity: 80%;
    height: 900px; 
    background-size: cover;
    justify-content: start;
 
}

.titre1 {
    position: absolute;
    color: black;
    top: 300px;
    left: 250px;
    font-size: 50px;
    font-family: 'Abril Fatface', cursive;
    box-shadow: 5px 5px 5px 5px #888;
    margin-top: 30px;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.titre2 {
    position: absolute;
    color: black;
    top: 450px;
    left: 800px;
    font-size: 50px;
    font-family: 'Abril Fatface', cursive;
    box-shadow: 5px 5px 5px 5px #888;
    margin-top: 30px;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.container {
    height: 60px;
    display: flex;
    align-items: flex-start;
     
}

.item {
    width: 60em;
    font-size: 47px;
    color:#000;
    font-family: 'Abril Fatface', cursive;
    padding: 70px;
    justify-items: auto;
}

#titre3 {
    font-size: 80px;
    font-family: 'Abril Fatface', cursive;

}

